#labels-and-fields div p {
    font-size: 20px;
    align-items: center;

    /* mbpo */
    padding-left: 1em;
}

#labels-and-fields div {
    align-items: center;
}

#labels-and-fields div input {
    height: 100%;
}

.box a {
    display: inline-block;
    background-color: #fff;

    /* mbpo */
    padding: 15px;
    border-radius: 3px;
}

.modal {
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(146, 146, 146, 0.7);
    transition: all 0.4s;
    visibility: hidden;
    opacity: 0;
}

.content {
    position: absolute;
    background: white;
    width: 400px;

    /* mbpo */
    padding: 1em 2em;
    border-radius: 4px;
}

.modal:target {
    visibility: visible;
    opacity: 1;
}

.box-close {
    position: absolute;
    top: 0;
    right: 15px;
    color: #616161;
    text-decoration: none;
    font-size: 30px;
}

#add-task-title {
    color: black;
}

#add-task {
    margin-top: 20px;
    margin-bottom: 20px;
}